@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
body, button{
    font-family: 'Nunito Sans';
    font-weight: bolder;
}
    
.salary{
padding: 30px 30px 30px;
padding-bottom: 30px;
background: wheat;
border-radius: 5px;
width: 450px;
height: 400px;
margin: 30px 30px 30px;
}
.row{
display: grid;
  grid-template-columns: 200px 250px ;
  height: 60px;
}
.text{
}
#ksh{
width:100px; 
height:25px;
}
#button{
    margin-left: 80px;
    padding: 8px 100px;
    background: whitesmoke;
    font-size: 18px;
}
.salary-output{
    display: grid;
    grid-template-columns: 600px  400px;
}
.output{
    background: wheat;
    border-radius: 5px;
    padding: 5px;

}

.row-output:first-child{
    border-top:0.2px solid black ;

}
.row-output{
    display: grid;
  grid-template-columns: 200px 250px ;
  height: 50px;
  border: 0.2px solid black;
  border-top: none;

}
.column-2{
    border-left: 1px solid black;
}

















